.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #dfdfdf;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    border: solid 1px;
    background-color: #ffffff;
}

.setting {
    width: 100%;
    height: 92%;
    border-bottom: solid 1px;
    display: flex;
}

.ethernet-settings {
    width: 50%;
    border-right: solid 1px;
}

.wireless-settings {
    width: 50%;
}

.title {
    font-size: 14px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 0;
}

.buttons {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
}

.formInput {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    margin-bottom: 8px;
}
.formInput label{
    transform: translate(14px, 9px) scale(1);
}
.formInput_input input {
    height: 10px;
}

.formInput span {
    display: inline-block;
    padding-right: 10px;
}

.label span {
    font-size: 12px;
}

.titleField span {
    color: #ff1c1c;
    margin-left: 4px;
}

.block_checkbox_select {
    display: flex;
    align-items: center;
    height: max-content;
}

.checkbox {
    text-align: left;
    width: max-content;
    margin-left: 12px;
}

.select_form {
    width: max-content;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.blockNull{
display: none;
}
.select {
    width: 200px;
    height: 30px;
}
.select fieldset legend{
    width: 81px;
}
.select select:focus {
    background-color: #ffffff;
}
.select_form-control{
  padding-left: 20px;
}
.select_form-control label{
    transform: translate(20px, 6px) scale(1);
}
.select_form_input label{
    transform: translate(20px, 4px) scale(1);
}
.radio-group-label span:nth-child(2){
    font-size: 13px;
}
.checkbox_label span:nth-child(2){
    font-size: 13px;
}


